#cache
ask/ask/__pycache__/
ask/ask/__init__.pyc
ask/ask/settings.pyc
ask/ask/urls.pyc
ask/qa/__pycache__/
ask/qa/__init__.pyc
ask/qa/admin.pyc
ask/qa/models.pyc
ask/qa/views.pyc
ask/qa/migrations/__pycache__/
ask/qa/migrations/0001_initial.py
ask/qa/migrations/__init__.pyc
ask/qa/migrations/0001_initial.pyc
ask/qa/migrations/0002_auto_20190619_1809.pyc
ask/qa/migrations/0002_auto_20190619_1809.py
ask/qa/migrations/0003_auto_20190620_1008.py
ask/qa/migrations/0003_auto_20190620_1008.pyc
ask/qa/tests.pyc
ask/qa/migrations/0001_initial.pyc
